$menu-max-width: 600px;

menu {
  margin: 0;
  padding: 0;
}

.menu {
  list-style: none;
  padding-top: 20px;
  user-select: none;
  &__item {
    padding-left: 10px;
    line-height: 30px;
    &:hover {
      background-color: gray;
      cursor: pointer;
      transition: 0.4s;
    }
    &-active {
      background-color: dimgray;
      color: white;
    }
  }
  &__area {
    background-color: darkgray;
    min-height: calc(100vh - 73px);
    position: absolute;
    left: 0;
    width: 200px;
    z-index: 99;

    //animate
    transform: matrix3d(1, 0, 0.00, 0, 0.00, 1, 0.00, 0, 0, 0, 1, 0, -200, 0, 0, 1);

    transform-origin: center center 0px;
    transition: all 0.3s ease-out 0s;
    //transition: all 0.2s ease-in 0s;
    opacity: 0.999999;

    &-visible {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
  }
}