extends _layout

block title
	title Droplist demo

block content
	.page(ng-app="demoApp", ng-controller="AppController as vm")
		h1 {{vm.appName}}

		h2 Cities list
		c-dropdown(data-list="vm.cities", data-value="vm.selectedCity")

		pre Cities: {{ vm.cities | json:4 }}
		pre selected: {{ vm.selectedCity | json:4 }}

		h2 Number list
		c-dropdown(data-list="vm.number", data-value="vm.selectedNumber")
		c-dropdown(data-list="vm.number", data-value="vm.selectedNumber")

		pre Cookies: {{ vm.number | json:4 }}
		pre selected: {{ vm.selectedNumber | json:4 }}



