extends _layout

block title
	title Droplist demo

block content
	.page(ng-app="demoApp", ng-controller="AppController as vm")
		h1 {{vm.appName}}

		h2 Cities list
		c-dropdown(data-list="vm.city", data-value="vm.currentCity")

		pre Cities: {{ vm.city | json:4 }}
		pre selected: {{ vm.currentCity | json:4 }}

		h2 Cookie list
		c-dropdown(data-list="vm.cookie", data-value="vm.currentCookie")
		c-dropdown(data-list="vm.cookie", data-value="vm.currentCookie")

		pre Cookies: {{ vm.cookie | json:4 }}
		pre selected: {{ vm.currentCookie | json:4 }}



