extends templates/layout

//block content
//	section.container
//		.row
//			.col-xs-12
//				h1  Портфолио.
//				p  Проекты за 2014 год.
//	section.container.portfolio
//		.row
//			.col-xs-12
//				.portfolio__list.row
//					each work in portfolio
//						.portfolio__list-item.col-xs-4
//							h3.portfolio__list-item-title #{work.title}
//							p.portfolio__list-item-description #{work.description}

