c-dropdown {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
}

.dropdown {
  display: inline-block;
  position: relative;
  cursor: pointer;
  user-select: none;
  &.right {
    .dropdown__selected {
      background-color: rgb(173, 209, 102);
      border-color: rgb(173, 209, 102);
      color: white;
      &:after {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAYAAAAVMmT4AAAAjUlEQVQYV2P8////SgYGhmmMjIwHgTRWAFRjD5TIYgQyTIGM9UCcCNSwG101UN4VKDYfiAMZQZJAAUMgtQmIM4AatsI0AMW9gOyZQOwHFD8PVgzVoAOktwFxAVBiHVBhIJA9EYi9gPwrIDVwxVAN6kB6JxBvBpkGxO5AhTdgBqIohmpQgroR5Id7yH4AAJI1MN/YwyK7AAAAAElFTkSuQmCC');
      }
    }
  }
  &.wrong {
    .dropdown__selected {
      background-color: rgb(245, 142, 142);
      border-color: rgb(245, 142, 142);
      color: white;
      &:after {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAYAAAAVMmT4AAAAjUlEQVQYV2P8////SgYGhmmMjIwHgTRWAFRjD5TIYgQyTIGM9UCcCNSwG101UN4VKDYfiAMZQZJAAUMgtQmIM4AatsI0AMW9gOyZQOwHFD8PVgzVoAOktwFxAVBiHVBhIJA9EYi9gPwrIDVwxVAN6kB6JxBvBpkGxO5AhTdgBqIohmpQgroR5Id7yH4AAJI1MN/YwyK7AAAAAElFTkSuQmCC');
      }
    }
  }
  &__selected {
    position: relative;

    width: 100%;

    padding-right: 25px;
    padding-left: 8px;

    background-color: white;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;

    color: rgb(51, 51, 51);
    font-family: Calibri, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;

    height: 26px;
    text-align: left;

    &:hover, &:active, &:focus {
      border: 1px solid rgb(170, 170, 170);
      outline: none;
    }
    &:active {
      background-color: whitesmoke;
    }
    &:after {
      position: absolute;
      content: " ";
      height: 6px;
      width: 11px;
      top: 10px;
      right: 8px;
      background-repeat: no-repeat;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAGCAYAAAAVMmT4AAAAsklEQVQYV2M0MjJa+f///2nnz58/yIADGBoa2jMyMmYxGhgYmDIxMa3/9+9f4oULF3ajqwfKuwLl5wPlAxlBkvr6+oYsLCybgMyMs2fPboVpACr0YmZmnvnnzx+/ixcvngcrBgE9PT0dVlbWbUAnFZw7d24d0HmBQKsn/v792+vSpUtXQGrgiqEa1IE27ASyNwMV+gFpd6BNN2AGoigGCerq6ioBbZgPNDHx8uXL95D9AADXc0ELyEpSUQAAAABJRU5ErkJggg==');
    }
  }
  &__list {
    position: absolute;
    display: none;
    background-color: white;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 2px;
    box-shadow: 0 0 18px white;
    top: 31px;
    left: 0;
    z-index: 99;

    &.display {
      display: block;
    }
    &-item {
      position: relative;
      padding-left: 8px;
      padding-right: 37px;
      color: rgb(51, 51, 51);
      font-family: Calibri, serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      height: 30px;
      white-space: nowrap;

      &.selected {
        &:after {
          position: absolute;
          content: " ";
          height: 17px;
          width: 16px;
          top: 5px;
          right: 10px;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAYAAAAbBi9cAAABbUlEQVQ4T6WSP0jDQBSHexaydhEn3VyEVEjj4NKliIubi4PQSYSKBd06OAsu/gOpsx11ctBNEIeqkMREwb2ru0pDEr+TC6Sa2qYGjnd3ud93v/feidw/Pl3XpzRNq9q2vStG5ZRKpTLaCyHERBAESyOBgKwAOQOiEfcsy2pkBgHZRHwEZIzYBLIhs8oEArIF4EAKoyi6pDbLTINMIMMw6kCkE3n5A6OCm/e4xkM5Mk2zhoMTBemEYTjnOM5bslEDQaSziqAlIcC6dKjsuu7jz25/g7hxzff9e8/zXpIHgFRYX6vu5HBSw8lp2pMRHJ7lxxOji2CHvPeZh8CLxDtGQRW3RXGr/d5d7OiYA3UluCU2gJ4TJ5XwmTifLG5qamzmcXBFXEy58YPamLh57eemp/2ACgjaOJlJCtjbBnL4F6QHJBfUaxpQm+m4SvMGyALzKBNIweJOfbIuUpfOIMgvR7EAZ+s4ywNpDgORZ74AHB2K7AxVyWgAAAAASUVORK5CYII=');
        }
      }
      &:hover {
        background-color: rgba(255, 255, 0, 0.15);
      }
      &.focus {
        background-color: rgb(237, 250, 212);
      }
    }
  }
}