.container-fluid
	framework(title="Application", subtitle="demo or startup application")
		.row
			.menu__content-wrapper
				menu
					menu-item(label="Dashboard", route="dashboard", active="true")
					menu-item(label="Locations", route="location")
					menu-item(label="Raft Guides", route="guides")

				.col-xs-12
					content(ng-view)
